@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --pink:#ffff;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.btn{
    display: grid;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background:#00000097;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    margin-left:945px;
    margin-top: 150px;
    place-items: center;
}

.btn:hover{
    background: rgba(0, 0, 0, 0.578);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background: #ffff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
}

.body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}


li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    position: relative;
    margin: auto;
    
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px;
}

.logo {
    width: 10%;
    cursor: pointer;
    margin-right: 0px;
    justify-self: flex-start;
    padding-left: 55px;
}

.nav-links {
    list-style: none;
    justify-content: flex-end;
    padding-left: 800px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    margin-left: 0px;
}

.nav-links li a {
    transition: all 0s ease 0s;
}

.nav-links li a:hover {
    color: #B77C2C;
    font-weight: 600;
}

.home{
    display: flex;
    align-items: center;
    min-height: 90vh;
    background:url(1edit.png) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0% 0% 10% 10%;
    box-shadow: 0 2rem 2rem rgb(0, 0, 0, .1);
}

.content h1{
    text-align: right;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 30px;
}

.content p{
    text-align: right;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 13px;
    line-height: 1.5;
    width: 50%;
    margin-right: 0;
    float: right;
}

.variety .header{
    font-family: "montserrat", sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 0px;
    font-weight: bolder;
}

.card {
    display: inline-flex;
    position: relative;
    width: 220px;
    height: 270px;
    padding-top: 10px;
    padding-left: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
    font-family: "Montserrat", sans-serif;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0, 0, 0, 0.608);
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #06472E;
    padding: 15px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #ffff;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: white;
    font-size: 12px;
}

.card .back h3 {
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.proses {
    background-color: rgba(0, 0, 0, 0.033);
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;
    justify-content: center;
    flex-direction: row;
    
}

.proses .header{
    font-family: "montserrat", sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-left: 0px;
    font-weight: bolder;
}

.kartu {
    display: inline-flex;
    position: relative;
    width: 300px;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}


.kartu .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.kartu .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.kartu .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kartu .front h3 {
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0, 0, 0, 0.608);
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}



.artikelawal .header{
    font-family: "montserrat", sans-serif;
    font-size: 30px;
    margin-top: 25px;
    margin-left: 0px;
    font-weight: bolder;
    margin-bottom: 0;
}

.art{
    font-family: "montserrat", sans-serif;
    padding-left: 0;
}

.art .kontainer  {
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
    margin-bottom: 50px;
}

.art .kontainer .text h2 {
    margin: 20px;
    font-size: 20px;
}

.art .kontainer .text h6 {
    margin: 20px;
    font-size: 10px;
}

.art .kontainer .text p {
    margin: 20px;
    font-size: 15px;
}

.fotart {
    width: 500px;
    height: 300px;
    float: left;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 0px 10px 0 black;
    margin-right: 50px;
    margin-left: 0px;
    margin-top: 0px;
    object-fit: cover;
}

.art1 {
    font-family: "montserrat", sans-serif;
    margin-top: 70px;
    margin-left: 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}

.art1 .text {
    width: 50%;
    margin-left: 0px;
}

.art1 .text h2 {
    margin: 20px;
    font-size: 20px;
}

.art1 .text h6 {
    margin: 20px;
    font-size: 10px;
}

.art1 .text p {
    margin: 20px;
    font-size: 15px;
}

.fotart1 {
    margin-top: 20px;
    margin-left: 0px;
    width: 500px;
    height: 300px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 0px 10px 0 black;
    position: relative;
    object-fit: cover;
}

.ridmor{
    display: grid;
    width: 100px;
    height: 28px;
    border-radius: 5px;
    background:#06472eb7;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    margin-left:550px;
    place-items: center;
}

.ridmor:hover{
    background: #06472E;
}

.ridmor1{
    display: grid;
    width: 100px;
    height: 28px;
    border-radius: 5px;
    background:#06472eb7;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    margin-left:20px;
    margin-top: 250px;
    place-items: center;
}

.ridmor1:hover{
    background: #06472E;
}

.ridmor2{
    display: grid;
    width: 105px;
    height: 29px;
    border-radius: 5px;
    background:#06472eb7;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    margin-left:500px;
    place-items: center;
    margin-bottom: 100px;
}

.ridmor2:hover{
    background: #06472E;
}

footer {
    width: 100%;
    bottom: 0;
    background: #06472e53;
    color: rgba(0, 0, 0, 0.907);
    padding-top: 60px;
    padding-bottom: 40px;
    border-top-left-radius: 60px;
    font-size: 13px;
    line-height: 20px;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 0%;
}

.row {
    align-items: center;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 20px;
    margin-right: 1px;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.logof {
    width: 170px;
    margin-bottom: 0px;
    margin-left: 0;
} 


.banner-area {
    background-image: url(proses5.jpg);
    background-size: cover;
    background-position: center center;
    top: 30px;
    height: 20vh;
    padding: 10px;
    position: relative;
    width: 100%;
}

.banner-area h2  {
    width: 470px;
    height: 60px;
    font-size: 40px;
    color: #ffff;
    font-family: "Montserrat", sans-serif;
    background-color: #2323236d;
    background-blend-mode: screen;
    margin-left: 420px;
    margin-top: 50px;
    }



.desc img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0px #000;
}

.text-bwh {
    font-family: "montserrat", sans-serif;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    margin-bottom: 70px;
}

.l {
    width: 10%;
    height: 3px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: rgb(0, 0, 0);
}

.visi {
    font-family: "montserrat", sans-serif;
    font-size: large;
    padding-left: 0;
}

.kontainer  {
    margin-top: 70px;
    margin-left: 0px;
    width: 100%;
    margin-bottom: 50px;
}

.vimis {
    width: 600px;
    height: 320px;
    float: left;
    border-radius: 0 10px 10px 0;
    box-shadow: 1px 0px 10px 0 black;
    margin-right: 50px;
    margin-left: 0px;
    margin-top: 0px;
    object-fit: cover;
}


.kontainer .text li {
    letter-spacing: .1px;
    font-size: large;
}

.produk {
    font-family: "montserrat", sans-serif;
    font-size: large;
    margin-top: 70px;
    margin-left: 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}

.produk .text {
    width: 50%;
    margin-left: 40px;
}

.produk .text h2 {
    margin: 20px;
}

.produk .text p {
    margin: 20px;
}

.fotprod {
    margin-left: 30px;
    width: 600px;
    height: 320px;
    border-radius: 0 10px 10px 0;
    box-shadow: 1px 0px 10px 0 black;
    position: relative;
    display: flex
}

.artikell .header {
    font-family: "montserrat", sans-serif;
    font-size: 30px;
    padding-top: 60px;
    margin-left: 0px;
    font-weight: bolder;
    margin-bottom: 0;
}
.cart {
    min-height: 50vh;
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 20px;
    width: 80%;
    font-family: "montserrat", sans-serif;
}

.cart img {
    width: 370px;
    height: 270px;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px black;
    margin-right: 40px;
    margin-top: 0px;
    object-fit: cover;
}

.cart .teks {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart .teks h2 {
    font-size: 20px;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.teks p {
    font-size: 16px;
}

.cart .teks h6 {
    margin: 20px;
    font-size: 13px;
}

.ridmorc{
    display: grid;
    width: 100px;
    height: 28px;
    border-radius: 5px;
    background:#06472eb7;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
    position: relative;
    margin-left:410px;
    place-items: center;
}

.ridmorc:hover{
    background: #06472E;
}

.home1{
    display: flex;
    align-items: center;
    min-height: 5vh;
    background:url(bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0% 0% 0% 0%;
    box-shadow: 0 2rem 2rem rgb(0, 0, 0, .1);
}

.home1 .content h1{
    padding-top: 10px;
    margin-top: 100px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 30px;
}

.home1 .content p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 13px;
    line-height: 1.5;
    width: 80%;
    margin-right: 0;
    float: center;
    padding-right: 110px;
    padding-top: 0;
}

.homee {
    min-height: 60vh;
    margin-top: 100px;
    margin-left: 15%;
    margin-bottom: 20px;
    width: 80%;
    font-family: "montserrat", sans-serif;
}

.homee .foto img{
    width: 700px;
    height: 400px;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px black;
    margin-right: 0px;
    margin-top: 0px;
    object-fit: cover;
}

.isi{
    font-family: "montserrat", sans-serif;
    padding-left: 0;
}

.isi .tul  {
    margin-top: 35px;
    margin-left: 60px;
    margin-right: 100px;
    width: 90%;
    margin-bottom: 50px;
    align-content: center;
    
}

.isi .tul h2 {
    margin: 20px;
    font-size: 20px;
}

.isi .tul h6 {
    margin: 20px;
    font-size: 10px;
}

.isi .tul p {
    margin: 20px;
    font-size: 15px;
    letter-spacing: 1px;
}

.ridmor3{
    display: grid;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background:#06472eb7;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
    position: relative;
    margin-left:45%;
    margin-bottom: 30px;
    place-items: center;
}

.ridmor3:hover{
    background: #06472E;
}
